<?xml version="1.0"?>

<!--
  ~ Copyright © 2019 Studio Raz. All rights reserved.
  ~ See LICENSE file for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Customer\Controller\Account\LoginPost" type="SR\TwoFactorAuth\Controller\Account\LoginPost"/>-->
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="twoFactorAuthLoginPost" type="SR\TwoFactorAuth\Plugin\Controller\AccountLoginPost"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SrTwoFacrotAuthSmsSend" xsi:type="object">SR\TwoFactorAuth\Console\Command\Send</item>
            </argument>
        </arguments>
    </type>
</config>
